{% include 'customerheader.html'%}
<!-- banner -->
	<div class="pogoSlider" id="js-main-slider">
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000" style="background-image:url(/static/images/b1.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/static/images/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">Sweet cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for Sweet cream!</p>
					<a class="bubbly-button" href="menu.html">View Menu</a>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000" style="background-image:url(/static/images/b2.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/static/images/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">Sweet cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for Sweet cream!</p>
					<a class="bubbly-button" href="menu.html">View Menu</a>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000" style="background-image:url(/static/images/b3.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/static/images/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">Sweet cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for Sweet cream!</p>
					<a class="bubbly-button" href="menu.html">View Menu</a>
				</div>
			</div>
		</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000" style="background-image:url(/static/images/b4.jpg);">
			<div class="pogoSlider-slide-element">
				<div class="container">
					<div class="banner-img-agile">
						<img src="/static/images/bannerimg.png" alt="" class="img-fluid">
					</div>
					<h3 class="text-white">Sweet cream</h3>
					<p class="font-italic text-uppercase">it’s a great day for Sweet cream!</p>
					<a class="bubbly-button" href="menu.html">View Menu</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
{% include 'footer.html'%}