{% include 'staffheader.html'%}


<!-- banner -->
  <div class="pogoSlider" id="js-main-slider">
    <div data-duration="2000" style="background-image:url(/static/images/b4.jpg);background-size: cover;height: 700px;padding-top: 200px">
      <div>
        <div class="container">


<center>
<h1>Manage Subcategory</h1>
<form method="post">
	{% if data['subcategoryupdate']%}
	<table class="table" style="width:500px">
		
		<tr>
			<th>Category</th>
			<td><select name="subcat">
				<option value="{{data['subcategoryupdate'][0]['category_id']}}">{{data['subcategoryupdate'][0]['category_name']}}</option>
				<option>---Select---</option>
				{% for row in  data['catdrop']%}
				<option value="{{row['category_id']}}">{{row['category_name']}}</option>
				{% endfor %}
			</select></td>
		</tr>
		<tr>
			<th>Name</th>
			<td><input type="text" required="" class="form-control" value="{{data['subcategoryupdate'][0]['subcategory_name']}}" name="fname"></td>
		</tr>
		
		
		<tr>
			<th>Description</th>
			<td><textarea name="dis" required="" class="form-control">{{data['subcategoryupdate'][0]['subcategory_description']}}</textarea></td>
		</tr>
		
		
		<td align="center" colspan="2"><input type="submit" name="update" value="submit" class="btn btn-success"></td>
	</table>
{% else %}
	<table class="table" style="width:500px">
<tr>
			<th>Category</th>
			<td><select name="subcat">
				<option>---Select---</option>
				{% for row in data['catdrop']%}
				<option value="{{row['category_id']}}">{{row['category_name']}}</option>
				{% endfor %}
			</select></td>
		</tr>
		
		<tr>
			<th>Name</th>
			<td><input type="text" required="" class="form-control" name="fname"></td>
		</tr>
		
		
		<tr>
			<th>Description</th>
			<td><textarea name="dis" required="" class="form-control"></textarea></td>
		</tr>
		
		
		<td align="center" colspan="2"><input type="submit" name="subcategory" value="submit" class="btn btn-success"></td>
	</table>
{% endif %}
</form>
</center>

</div></div></div></div>
<center>
	<h1>view Subcategory</h1>
	<form>
		<table class="table" style="width: 500px">
			<tr>
				<th>sino</th>
				<th>category</th>
				<th>Name</th>
				<th>Description</th>
				
				
			</tr>
			{% for row in data['subview']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['category_name']}}</td>
    		
    		<td>{{row['subcategory_name']}}</td>
    		<td>{{row['subcategory_description']}}</td>


    	      {% if row['sub_status']=="1"%}

            <td><a class="btn btn-success" href="?action=inactive&sid={{row['subcategory_id']}}">InActive</a></td>

            {% elif row['sub_status']=="0"%}
           

    		
    			<td><a class="btn btn-success" href="?action=active&sid={{row['subcategory_id']}}">Active</a></td>
    	{% endif %}
    		
    		
    		<td><a class="btn btn-success" href="?action=update&sid={{row['subcategory_id']}}">update</a></td>
    		


    	</tr>
    	{% endfor %}
    	
   
		</table>
	</form>
</center>
{% include 'footer.html'%}